cursor-talk-to-figma-mcp/
.vscode/
frontend/node_modules
frontend/dist
frontend/.DS_Store
*.log
caseNara/HELP.md
caseNara/target/
caseNara/.mvn/wrapper/maven-wrapper.jar
caseNara/!**/src/main/**/target/
caseNara/!**/src/test/**/target/
caseNara/### STS ###
caseNara/.apt_generated
caseNara/.classpath
caseNara/.factorypath
caseNara/.project
caseNara/.settings
caseNara/.springBeans
caseNara/.sts4-cache
caseNara/### IntelliJ IDEA ###
caseNara/.idea
caseNara/*.iws
caseNara/*.iml
caseNara/*.ipr
caseNara/### NetBeans ###
caseNara//nbproject/private/
caseNara//nbbuild/
caseNara//dist/
caseNara//nbdist/
caseNara//.nb-gradle/
caseNara/build/
caseNara/!**/src/main/**/build/
caseNara/!**/src/test/**/build/
caseNara/### VS Code ###
caseNara/.vscode/
caseNara/src/main/resources/static/
