<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.myproject.caseNara.mapper.MenuMapper">
    
    <select id="getAllMenus" resultType="com.myproject.caseNara.model.Menu">
        SELECT 
            MENU_CODE AS menuCode,
            MENU_NAME AS menuName,
            DISPLAY_ORDER AS displayOrder,
            ENDPOINT AS endpoint,
            PARENT_CODE AS parentCode
        FROM MENUS
        ORDER BY DISPLAY_ORDER ASC;
    </select>
    
    <select id="getMenuByCode" parameterType="int" resultType="com.myproject.caseNara.model.Menu">
        SELECT 
            MENU_CODE as menuCode,
            MENU_NAME as menuName,
            DISPLAY_ORDER as displayOrder,
            CASE 
                WHEN ENDPOINT = '(null)' THEN NULL 
                ELSE ENDPOINT 
            END as endpoint,
            CASE 
                WHEN PARENT_CODE = '(null)' THEN NULL 
                ELSE PARENT_CODE 
            END as parentCode
        FROM 
            MENUS 
        WHERE 
            MENU_CODE = #{menuCode}
    </select>
    
</mapper>