:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  color-scheme: light dark;
}

* { box-sizing: border-box; }

body {
  margin: 0;
}

code { background: rgba(125,125,125,.15); padding: 2px 4px; border-radius: 4px; }


